body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f5efe7;
}
.header {
  background-color: #213555;
  color: #f5efe7;
  font-size: 20px;
  height: 50px;
}
.name {
  font-size: 20px;
}
.nav {
  height: 50px;
  align-items: center;
  justify-content: center;
}
.nav-link {
  color: #f5efe7;
}
.menuContainer {
  height: 5px;
}
.hamburguerMenu {
  font-size: 40px;
  display: none;
}
.links-inactive {
  position: absolute;
  color: #213555;
  font-size: 20px;
  background-color: #213555;
  top: 0px;
  display: none;
  width: 100%;
  flex-direction: column;
  height: auto;
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  padding: 20px 20px 10px 20px;
}
.home {
  justify-content: center;
  align-items: center;
  background-color: #f5efe7;
}
.home-container {
  padding-top: 100px;
  padding-bottom: 50px;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.btn {
  background-color: #213555;
  color: #f5efe7;
}
.title1 {
  color: #213555;
  font-size: 60px;
}
.subtitle1 {
  font-size: 35px;
  color: #213555;
}
.about-me-section {
  margin-top: 10px;
  background-color: #213555;
}
.container-about {
  padding-top: 75px;
  padding-bottom: 75px;
}
.about-me {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
}
.logo {
  align-items: center;
  justify-content: center;
}
.text-container {
  width: 70%;
  color: #f5efe7;
}
.about-me-title {
  font-size: 60px;
}
p {
  font-size: 30px;
  color: #f5efe7;
}
.technologies-section {
  display: flex;
  margin-top: 5px;
  width: 100%;
  background-color: white;
}
.container-technologies {
  padding-top: 200px;
  padding-bottom: 200px;
}
.technologies-title {
  font-size: 60px;
  margin-bottom: 80px;
  color: #213555;
}
.marketing {
  margin: 50px;
}
.contact-section {
  background-color: #213555;
}
.row-technologies {
  margin-left: 50px;
}
.contact-title {
  font-size: 60px;
  margin-bottom: 50px;
}
.contact-container {
  padding-top: 200px;
  padding-bottom: 100px;
}
.contact-row img {
  width: 120px;
  height: 100px;
  border-radius: 50%;
  margin-top: 15px;
}
.contact-text2 {
  margin-bottom: 50px;
}
.technology-item {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}
a {
  color: #f5efe7;
  text-decoration: none;
}

a:hover {
  color: #213555;
}

@media (max-width: 576px) {
  .body {
    width: 100%;
  }
  .hamburguerMenu {
    display: block;
  }
  .nav-link {
    display: none;
  }
  .links-inactive {
    display: none;
  }
  .title1 {
    color: #213555;
    font-size: 40px;
  }
  .subtitle1 {
    font-size: 25px;
    color: #4f709c;
  }
  .image {
    max-width: 100%;
  }
  .contact-row img {
    width: 120px;
    height: 100px;
    border-radius: 50%;
    margin-top: 15px;
  }
  .row-technologies {
    margin-left: 0px;
  }
  .marketing {
    margin: 0px;
  }
  .about-me-title {
    font-size: 30px;
  }
  p {
    font-size: 15px;
    color: #f5efe7;
  }
  .contact-title {
    font-size: 30px;
    margin-bottom: 50px;
  }
  .technologies-title {
    font-size: 30px;
    margin-bottom: 40px;
    color: #213555;
    font-weight: bold;
  }
  .technology-item {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
  }
}
