#F5EFE7 #D8C4B6 #4F709C #213555 body {
  background-color: #f5efe7;
}
.header {
  background-color: #213555;
  color: #f5efe7;
  padding: 15px;
}
.name {
  font-size: 30px;
}
.nav-link {
  color: #f5efe7;
  font-size: 20px;
}
.home {
  justify-content: center;
  align-items: center;
  background-color: #f5efe7;
}
.home-container {
  padding-top: 100px;
  padding-bottom: 50px;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.btn {
  background-color: #213555;
  color: #f5efe7;
}
.title1 {
  color: #213555;
  font-size: 60px;
}
.subtitle1 {
  font-size: 35px;
  color: #4f709c;
}
.about-me-section {
  margin-top: 10px;
  background-color: #213555;
}
.container-about {
  padding-top: 75px;
  padding-bottom: 75px;
}
.about-me {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
}
.logo {
  align-items: center;
  justify-content: center;
}
.text-container {
  width: 70%;
  color: #f5efe7;
}
.about-me-title {
  font-size: 60px;
}
p {
  font-size: 30px;
  color: #f5efe7;
}
.technologies-section {
  display: flex;
  margin-top: 5px;
}
.container-technologies {
  padding-top: 200px;
  padding-bottom: 200px;
}
.technologies-title {
  font-size: 60px;
  margin-bottom: 80px;
  color: #213555;
}
.marketing {
  margin: 50px;
}
.contact-section {
  background-color: #213555;
}
.row-technologies {
  margin-left: 50px;
}
.contact-title {
  font-size: 60px;
  margin-bottom: 50px;
}
.contact-container {
  padding-top: 200px;
  padding-bottom: 100px;
}
.contact-row img {
  width: 120px;
  height: 100px;
  border-radius: 50%;
  margin-top: 15px;
}
.contact-text2 {
  margin-bottom: 50px;
}
.technology-item {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}
a {
  color: #f5efe7;
  text-decoration: none;
}

a:hover {
  color: #213555;
}
