#F5EFE7 #D8C4B6 #4F709C #213555 body {
  background-color: #f5efe7;
}
.header {
  background-color: #213555;
  color: #f5efe7;
  padding: 15px;
}
.name {
  font-size: 30px;
}
.nav-link {
  color: #f5efe7;
  font-size: 20px;
}
.home {
  justify-content: center;
  align-items: center;
  background-color: #f5efe7;
  padding-top: 120px;
  margin-bottom: 5px;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.btn {
  background-color: #213555;
  color: #f5efe7;
}
.title1 {
  font-size: 54px;
}
.subtitle1 {
  font-size: 30px;
}
.about-me-section {
  margin-top: 10px;
  background-color: #213555;
  padding: 100px;
}
.about-me {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
}
.logo {
  align-items: center;
  justify-content: center;
}
.text-container {
  width: 70%;
  color: #f5efe7;
}
.about-me-title {
  font-size: 45px;
}
p {
  font-size: 20px;
  color: #f5efe7;
}
.technologies-section {
  display: flex;
  margin-top: 5px;
}
.technologies-title {
  font-size: 40px;
  margin-bottom: 40px;
}
.marketing {
  margin: 50px;
}
.contact-section {
  background-color: #213555;
}
.row-technologies {
  margin-left: 50px;
}
.contact-row img {
  width: 120px;
  height: 100px;
  border-radius: 50%;
  margin-top: 15px;
}
.contact-text1 {
  margin-bottom: 50px;
}
.technology-item {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}
a {
  color: #f5efe7; /* Cambia el color a tu preferencia */
  text-decoration: none; /* Quita la subrayado por defecto */
}

/* Estilo del enlace cuando el mouse está sobre él */
a:hover {
  color: blue; /* Cambia el color a azul o tu preferencia */
}
